<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Voting</title>
        <!-- Favicon-->
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">Voting with Certainty</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/explore">Explore</a></li>
                        <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="/news">Recent News</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
<!--         <!-- Masthead-->
<header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Latest News</h1>
                        <hr class="divider" />
                    
                    


<blockquote class="twitter-tweet"><p lang="en" dir="ltr">How Biden changed his tune on inflation as prices soared and the midterms loomed <a href="https://t.co/1qwIxI69f6">https://t.co/1qwIxI69f6</a></p>&mdash; NPR Politics (@nprpolitics) <a href="https://twitter.com/nprpolitics/status/1586283838879465472?ref_src=twsrc%5Etfw">October 29, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">President <a href="https://twitter.com/realDonaldTrump?ref_src=twsrc%5Etfw">@realDonaldTrump</a> and <a href="https://twitter.com/FLOTUS?ref_src=twsrc%5Etfw">@FLOTUS</a> participated virtually in the lighting of the National Christmas Tree, decorated with ornaments made by students from all over America!🎄 <br><br>WATCH the countdown ⬇️ <a href="https://t.co/xaHUix65xq">pic.twitter.com/xaHUix65xq</a></p>&mdash; The White House 45 Archived (@WhiteHouse45) <a href="https://twitter.com/WhiteHouse45/status/1341902721738272773?ref_src=twsrc%5Etfw">December 24, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Obama campaign blitz in full swing as Biden backs off days before midterms: &#39;They don&#39;t want him&#39; <a href="https://t.co/B8V2HsSOWN">https://t.co/B8V2HsSOWN</a></p>&mdash; Fox News (@FoxNews) <a href="https://twitter.com/FoxNews/status/1586691894192619520?ref_src=twsrc%5Etfw">October 30, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Dear reasonable, decent, moderate voter who doesn’t pay that much attention to politics until a week before elections …<br><br>THIS is the 2022 Republican Party. <a href="https://t.co/BcCWFNyCjJ">pic.twitter.com/BcCWFNyCjJ</a></p>&mdash; Ron Filipkowski 🇺🇦 (@RonFilipkowski) <a href="https://twitter.com/RonFilipkowski/status/1586085542697238528?ref_src=twsrc%5Etfw">October 28, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                      




                </div>
            </div>
        </section>
        <!-- Services-->
        <!-- Call to action-->
        <!-- Footer-->
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        
        <script src="js/scripts.js"></script>
        
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
